.copy-button {
  position: absolute;
  top: 8px;
  left: 8px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: 1em Rubik, sans-serif;
  text-transform: uppercase;
  color: #757575;
  padding: 3px 10px;
  opacity: 0.4;
  transition: all 0.5s ease;
}

.copy-button .copy-button__icon {
  margin-right: 0.4em;
}

.copy-button:hover {
  opacity: 0.7;
}
